.btn {   
    background: #00285F;
    border-radius: 5px;
    text-decoration: none;
}

.btn p {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #FFF;
    vertical-align: middle;
}

.btn:link, .btn:hover, .btn:visited, .btn:active {
    text-decoration: none;
}