.main-nav {
    padding-left: 20px;
    min-height: 70px;
    background: #F78B00;
    color: #00285F;
}

.nav-logo-text {
    color: #00285F;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    height: 28px;
    width: 117px;
    left: 20px;
    top: 21px;
    line-height: 28px;
}

.nav-logo-text:hover {
    color: #FFF;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    font-size:18px;
    font-weight: 400;
    font-family: Roboto;
    text-decoration: none;    
}

.main-menu a {
    color: #00285F;
    text-decoration: none;
    padding-left: 30px;
} 

.main-menu a:link, a:hover {
    color: #FFF;
    text-decoration: none;
}

.main-menu a.active {
    font-weight: 700;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath stroke='rgba(0,40,91, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color:#F78B00;
    color: #00285F;
  }

@media (min-width: 576px) {
    .main-nav {
      padding-left: 88px;
    }
}

@media (min-width: 768px) {
    .main-nav {
        width: auto;
      }

    .main-menu {
        padding-left: 200px;
    }
}

@media (min-width: 992px) {
    .main-nav {
        width: auto;
      }

    .main-menu {
        padding-left: 200px;
    }
}

@media (min-width: 1280px) {
    .main-nav {
        width: auto;
      }

    .main-menu {
        padding-left: 200px;
    }
}